<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout::menu"></nav>
<br>
<div class="card w-80">
    <div class="card-header">
        Mantenimiento de Especialidades (LLAVE FORANEA)
    </div>
    <div class="card-body">
        <button id="btnAgregar" type="button" class="btn btn-primary">Agregar</button>
        <hr/>
        <div id="divMsg"></div>
        <table id="tableEspecialidad" class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Id Especialidad</th>
                <th scope="col">Titulo</th>
                <th scope="col">Funcion</th>
                <th scope="col">Fecha Graduacion</th>
                <th scope="col">Nombre Medico</th>
                <th scope="col">Apellido Medico</th>
                <th scope="col">Actualizar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="especialidad : ${especialidades}">
                <td th:text="${especialidad.idespecialidad}"></td>
                <td th:text="${especialidad.titulo}"></td>
                <td th:text="${especialidad.funcion}"></td>
                <td th:text="${especialidad.getFechagraduacion}"></td>
                <td th:text="${especialidad.medico.nommedico}"></td>
                <td th:text="${especialidad.medico.apemedico}"></td>
                <td>
                    <button type="button" class="btn btn-primary btn-actualizar"
                            th:data-eid="${especialidad.idespecialidad}"
                            th:data-etit="${especialidad.titulo}"
                            th:data-efun="${especialidad.funcion}"
                            th:data-efgra="${especialidad.fechagraduacion}"
                            th:data-emed="${especialidad.medico.idmedico}">Actualizar
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalEspecialidad" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Insertar Especialidad</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="insertForm">
                    <div class="form-group">
                        <label for="titulo">Título:</label>
                        <input type="text" class="form-control" id="titulo" name="titulo">
                    </div>
                    <div class="form-group">
                        <label for="funcion">Función:</label>
                        <input type="text" class="form-control" id="funcion" name="funcion">
                    </div>
                    <div class="form-group">
                        <label for="cbomedico">Medico:</label>
                        <select class="form-select" id="cbomedico"></select>
                    </div>
                    <div class="form-group">
                        <label for="fechagraduacion">Fecha de Graduación:</label>
                        <input type="date" class="form-control" id="fechagraduacion" name="fechagraduacion">
                    </div>

                    <input type="hidden" id="hIdEspecialidad" value="0">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnInsert">Insertar</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/web/backoffice/especialidad/especialidad.js}" type="text/javascript"></script>
</body>
</html>
